* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

.head{
  height: 50px;
  background-color:#FF9A4B;
}

main{
  width:960px;
  margin:50px auto;
  display:flex;
  
}
.box{
  width:300px;
  padding:10px;
  margin-right:30px;
  background-color:#EEEEEE;
  position: relative;
}

.box-image1{
  height:150px;
  background-image:url(img/flow01.png);
  background-size:cover;
  background-position: bottom;
}

.box-image2{
  height:150px;
  background-image:url(img/flow02.png);
  background-size:cover;
  background-position: bottom;
}

.box-image3{
  height:150px;
  background-image:url(img/flow03.png);
  background-size:cover;
  background-position: bottom;
}
.box:nth-child(3) {
  margin-right: 0;
}

.box-title{
  margin:15px 0 5px;
}

.box-step{
  position:absolute;
  top: 0;
  left: 0;
  background-color:#ff9a4b;
  color:white;
}

footer {
  height: 50px;
  background-color: #AAAAAA;
}